body {
  font-family: Open Sans; 
}
.btn-default{
    background: #4DC7A0;
    color: white;
    border-color: #45ad8b;
}
.btn-default:hover {
    background: #33886d;
    color: white;
    border-color: #33886d;
    box-shadow: -1px 2px 8px 1px rgba(51, 136, 109, 0.41);
}
.div-msg{
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    top: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.22);
    color: black;
    border: 1px solid #BBB;
}
.div-msg .ok{
    color: blue;
}
.div-msg .erro{
    color: red;
}
.div-msg span{
    cursor: pointer;
}
.div-msg h4{
    margin-top: 0px;
}
.div-msg-ok {
    background: #7CCDF1;
    border: 1px solid #0075BC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.div-msg-erro{
    background: rgba(255, 82, 82, 0.67);
    border: 1px solid rgba(255, 82, 82, 0.83);
}
.text-left{
    text-align: left !important;
}
.glyphicon.glyphicon-remove{
    color: red;
    cursor: pointer;
}
/*-------------------topo.php-------------------*/
.topo{
    background: #1CCACD;
    height: 60px;
    width: 100%;
}
.topo > div{
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
}
.topo > div > div{
    font-size: 16px;
    font-style: italic;
    color: white;
    line-height: 60px;
}
.topo > div > .logo{
   float: left;
}
.topo > div > .login{
   float: right;
   text-align: right;
}
.topo > div > .login:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navbar .container-fluid{
    padding: 0px;
    margin: 0 auto;
    width: 98%;
    max-width: 1100px;
}
.nav .open > a{
    color: #1CCACD;
}
.navbar-toggle{
    border: 1px solid #1CCACD;
}
.navbar-toggle .icon-bar{
    background: #1CCACD;
}
.nav > li > a {
    color: #1CCACD;
}
@media (min-width: 768px){
    .navbar .navbar-nav{
        margin-left: -29px;
    }
}
/*-------------------index.php-------------------*/
.conteudo{
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
    padding-bottom: 40px;
}
.categorias-home {
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
    text-align: center;
}
#demos {
    margin: 0px 83px;
}
#demos .owl-carousel{
    margin: 0px;
}
.item.item-categoria {
    background: #4DC7A0;
    height: 80px !important;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    position: relative;
}
.item.item-categoria > img {
    height: 40px;
    margin: 0px auto 2px;
    width: auto;
}
.item.item-categoria > div {
    margin: 0px !important;
    text-transform: capitalize;
    color: white;
    font-size: 11pt;
    max-height: 36px;
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 98%;
    overflow: hidden;
}
.owl-nav > div{
   position: absolute;
    top: 22px;
}
.owl-nav > .owl-prev {
    left: -73px;
}
.owl-nav > .owl-next {
    right: -73px;
}
.prancha{
    margin: 5px auto;
    border: 1px solid #DDD;
    text-align: center;
    padding: 15px 0px;
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s linear;
}
.prancha div{
    display: inline-block;
    width: 19%;
    padding: 5px 3px;
}
.prancha .prancha-ajax {
    width: 100%;
    padding: 0px -15px 0px 8px;
}
.prancha .prancha-ajax li {
    margin-bottom: 15px;
}
.prancha-ajax > div {
    display: inline-block;
    width: 19%;
}
.prancha img{
    width: 15vw;
    min-width: 70px;
    padding: 3px;
    cursor: pointer;
}
/*-------------------index.php-------------------*/
.quadro{
    border: 1px solid #eee;
    width: 98%;
    max-width: 600px;
    margin: 10px auto;
}
.quadro > div{
    padding: 15px;
}
.quadro-txt{
    height: 250px;
    border: 1px solid #DDD;
    /*box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.1);*/
}
/*-------------------ajaxCompativel.html-------------------*/
.well > .row{
    margin: 15px 15px 0;
}
h4, .logos{
    text-align: center;
    margin-top: 0px;
}
.well .btn.btn-primary {
    padding: 2.5px 5px 1px;
    cursor: pointer;
    font-size: 8pt;
    margin-top: -20px;
}
.logos a{
    display: inline-block;
    margin: 10px 20px;
}
/*-------------------restrito-------------------*/
/*-------------------lista usuario-------------------*/
.lista-usuario > tbody  > tr{
    cursor: pointer;
}
/*-------------------editar usuario-------------------*/
/*-------------------tb-padrao-------------------*/
.tab-tb-categora, .tab-tb-imagens{
    margin: 10px 0px;
}
/*-------------------categorias usuario------------------*/
.edit-cats{    
    margin: 5px auto;
    border: 1px solid #DDD;
    padding: 15px 0px;
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}
.bt-add-imagem{
    display: none;
}