body {
  font-family: Open Sans; 
}
.btn-default{
    background: #4DC7A0;
    color: white;
    border-color: #45ad8b;
}
.btn-default:hover {
    background: #33886d;
    color: white;
    border-color: #33886d;
    box-shadow: -1px 2px 8px 1px rgba(51, 136, 109, 0.41);
}
/*-------------------topo.php-------------------*/
.topo{
    background: #1CCACD;
    height: 60px;
    width: 100%;
}
.topo > div{
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
}
.topo > div > div{
    font-size: 16px;
    font-style: italic;
    color: white;
    line-height: 60px;
}
.topo > div > .logo{
   float: left;
}
.topo > div > .login{
   float: right;
   text-align: right;
}
.topo > div > .login:hover{
    cursor: pointer;
    text-decoration: underline;
}
.navbar .container-fluid{
    padding: 0px;
    margin: 0 auto;
    width: 98%;
    max-width: 1100px;
}
.nav .open > a{
    color: #1CCACD;
}
.navbar-toggle{
    border: 1px solid #1CCACD;
}
.navbar-toggle .icon-bar{
    background: #1CCACD;
}
.nav > li > a {
    color: #1CCACD;
}
@media (min-width: 768px){
    .navbar .navbar-nav{
        margin-left: -29px;
    }
}
/*-------------------index.php-------------------*/
.conteudo{
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
}
.categorias-home {
    width: 98%;
    max-width: 1100px;
    margin: 0px auto;
    text-align: center;
}
#demos {
    margin: 0px 83px;
}
#demos .owl-carousel{
    margin: 0px;
}
.item.item-categoria {
    background: #4DC7A0;
    height: 80px !important;
    text-align: center;
    cursor: pointer;
}
.item.item-categoria > h4{
    line-height: 80px;
    margin: 0px !important;
    text-transform: capitalize;
    color: white;
}
.owl-nav > div{
   position: absolute;
    top: 22px;
}
.owl-nav > .owl-prev {
    left: -73px;
}
.owl-nav > .owl-next {
    right: -73px;
}
.prancha{
    margin: 5px auto;
    border: 1px solid #DDD;
    text-align: center;
    padding: 15px 0px;
    box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s linear;
}
.prancha div{
    display: inline-block;
    width: 19%;
    padding: 5px 3px;
}
.prancha .prancha-ajax {
    width: 100%;
    padding: 5px 3px;
}
.prancha-ajax > div {
    display: inline-block;
    width: 19%;
}
.prancha img{
    width: 100%;
    height: 115px;
    padding: 3px;
    cursor: pointer;
}
/*-------------------index.php-------------------*/
.quadro{
    border: 1px solid #eee;
    width: 98%;
    max-width: 600px;
    margin: 10px auto;
}
.quadro > div{
    padding: 15px;
}
.quadro-txt{
    height: 250px;
    border: 1px solid #DDD;
    /*box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.1);*/
}
/*-------------------ajaxCompativel.html-------------------*/
.well > .row{
    margin: 15px 15px 0;
}
h4, .logos{
    text-align: center;
    margin-top: 0px;
}
.well .btn.btn-primary {
    padding: 2.5px 5px 1px;
    cursor: pointer;
    font-size: 8pt;
    margin-top: -20px;
}
.logos a{
    display: inline-block;
    margin: 10px 20px;
}