RewriteEngine On

RewriteRule ^index/?$ /tcc/controller/controlerTabela.php?opcao=1 [NC,L]
RewriteRule ^deslogar/?$ /tcc/controller/controlerTabela.php?opcao=2 [NC,L]
RewriteRule ^talk/?$ /tcc/controller/controlerTabela.php?opcao=3 [NC,L]
RewriteRule ^admin/?$ /tcc/controller/controlerTabela.php?opcao=4 [NC,L]
RewriteRule ^novo_usuario/?$ /tcc/controller/controlerTabela.php?opcao=5 [NC,L]
RewriteRule ^enviar_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=1 [NC,L]
