RewriteEngine On

RewriteRule ^index/?$ /tcc/controller/controlerTabela.php?opcao=1 [NC,L]
RewriteRule ^deslogar/?$ /tcc/controller/controlerTabela.php?opcao=2 [NC,L]
RewriteRule ^talk/?$ /tcc/controller/controlerTabela.php?opcao=3 [NC,L]
RewriteRule ^admin/?$ /tcc/controller/controlerTabela.php?opcao=4 [NC,L]

RewriteRule ^enviar_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=1 [NC,L]
RewriteRule ^lista_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=2 [NC,L]
RewriteRule ^novo_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=3&tipo=s [NC,L]
RewriteRule ^cadastrar_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=3&tipo=n [NC,L]
RewriteRule ^editar_usuario/([a-zA-Z-0-9]+)/?$ /tcc/controller/controlerUsuario.php?opcao=4&id=$1 [NC,L]
RewriteRule ^atualizar_usuario/?$ /tcc/controller/controlerUsuario.php?opcao=5 [NC,L]
RewriteRule ^atualizar_senha/?$ /tcc/controller/controlerUsuario.php?opcao=6 [NC,L]
RewriteRule ^apagar_categoria/([a-zA-Z-0-9]+)/?$ /tcc/controller/controlerUsuario.php?opcao=13&id_categoria=$1 [NC,L]
RewriteRule ^lista_tabela_padrao/?$ /tcc/controller/controlerUsuario.php?opcao=7&id_tabela=1 [NC,L]
RewriteRule ^editar_tabela/?$ /tcc/controller/controlerUsuario.php?opcao=7 [NC,L]
RewriteRule ^enviar_categoria/?$ /tcc/controller/controlerUsuario.php?opcao=8 [NC,L]
RewriteRule ^listar_categorias/?$ /tcc/controller/controlerUsuario.php?opcao=9 [NC,L]
RewriteRule ^listar_imagens/([a-zA-Z-0-9]+)/?$ /tcc/controller/controlerUsuario.php?opcao=10&id_categoria=$1 [NC,L]
RewriteRule ^apagar_imagem/([a-zA-Z-0-9]+)/?$ /tcc/controller/controlerUsuario.php?opcao=11&id_imagem=$1 [NC,L]
RewriteRule ^enviar_imagem/?$ /tcc/controller/controlerUsuario.php?opcao=12 [NC,L]
RewriteRule ^apagar_categoria/([a-zA-Z-0-9]+)/?$ /tcc/controller/controlerUsuario.php?opcao=13&id_categoria=$1 [NC,L]

RewriteRule ^enviar_tabela_usuario/?$ /tcc/controller/controlerTabelaUsuario.php?opcao=1 [NC,L]

